<a href="https://colab.research.google.com/github/chavacodezen/Maestria-IA/blob/main/Practica6_268838.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*   Nombre: Bryan Fernando Chavarria Martinez
*   Matricula: 268838

Actividad:
*   Manejo de Libreria Pandas

In [23]:
# Mount Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [33]:
import pandas as pd
import numpy as np

# Cargar el archivo
ruta = '/content/drive/MyDrive/ClassFiles/Titanic-Dataset.csv'
df = pd.read_csv(ruta)

Ejercicio 1: Análisis de la distribución de supervivencia por combinación de sexo y clase del pasajero.
1.   Calcula la proporción de supervivencia para cada combinación de 'Sex' y 'Pclass'.
2.   Identifica qué combinación tuvo la tasa de supervivencia más alta.
3.   Identifica qué combinación tuvo la tasa de supervivencia más baja.

In [34]:
# 1. Proporcion de supervivencia por sexo y clase
supervivencia = df.groupby(['Sex', 'Pclass'])['Survived'].mean()
supervivencia_df = supervivencia.reset_index()
print("Proporcion de supervivencia por sexo y clase:")
print(supervivencia_df)
print("\n" + "-"*50 + "\n")

# 2. Mayor tasa de supervivencia
max_supervivencia = supervivencia_df.loc[supervivencia_df['Survived'].idxmax()]
print("Mayor tasa de supervivencia:")
print(max_supervivencia)
print("\n" + "-"*50 + "\n")

# 3. Menor tasa de supervivencia
min_supervivencia = supervivencia_df.loc[supervivencia_df['Survived'].idxmin()]
print("Menor tasa de supervivencia:")
print(min_supervivencia)

Proporcion de supervivencia por sexo y clase:
      Sex  Pclass  Survived
0  female       1  0.968085
1  female       2  0.921053
2  female       3  0.500000
3    male       1  0.368852
4    male       2  0.157407
5    male       3  0.135447

--------------------------------------------------

Mayor tasa de supervivencia:
Sex           female
Pclass             1
Survived    0.968085
Name: 0, dtype: object

--------------------------------------------------

Menor tasa de supervivencia:
Sex             male
Pclass             3
Survived    0.135447
Name: 5, dtype: object

Ejercicio 2: Identificación de familias grandes a bordo.
1.   Crea una nueva columna 'FamilySize' sumando las columnas 'SibSp' y 'Parch'.
2.   Considera como "familia grande" a aquellas donde 'FamilySize' es mayor a 3.
3.   Calcula el número de pasajeros en familias grandes.
4.   Calcula la proporción de supervivencia entre los pasajeros que pertenecen a familias grandes.

In [35]:
# 1. Columna FamilySize
df['FamilySize'] = df['SibSp'] + df['Parch']
print("Columna FamilySize (primeras 5 filas):")
display(df[['SibSp', 'Parch', 'FamilySize']].head())
print("\n" + "-"*50 + "\n")

# 2. DataFrame con familias grandes
familias_grandes = df[df['FamilySize'] > 3]
print("Ejemplo de pasajeros en familias grandes:")
display(familias_grandes.head())
print("\n" + "-"*50 + "\n")

# 3. Numero de pasajeros en familias grandes
num_pasajeros_familias_grandes = familias_grandes.shape[0]
print("Numero de pasajeros en familias grandes:")
print(num_pasajeros_familias_grandes)
print("\n" + "-"*50 + "\n")

# 4. Proporcion de supervivencia en familias grandes
proporcion_supervivencia_familias_grandes = familias_grandes['Survived'].mean()
print("Proporcion de supervivencia en familias grandes:")
print(f"{proporcion_supervivencia_familias_grandes:.2f}")

Columna FamilySize (primeras 5 filas):

   SibSp  Parch  FamilySize
0      1      0           1
1      1      0           1
2      0      0           0
3      1      0           1
4      0      0           0

--------------------------------------------------

Ejemplo de pasajeros en familias grandes:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,4
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,6
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,5
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,4
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,6

--------------------------------------------------

Numero de pasajeros en familias grandes:
62

--------------------------------------------------

Proporcion de supervivencia en familias grandes:
0.16

Ejercicio 3: Segmentación por grupos de edad.
1.   Clasifica a los pasajeros en las siguientes categorías de edad(tip puede resultar mas sencillo realizarlo con una función):  menor de edad (< 18) y mayor de edad (>=18)

In [36]:
# 1. Funcion de clasificacion de edad
def clasificar_edad(edad):
    if edad < 18:
        return 'Menor de edad'
    else:
        return 'Mayor de edad'

# Insercion en nueva columna AgeGroup
df['AgeGroup'] = df['Age'].apply(
    lambda x: clasificar_edad(x) if pd.notna(x) else 'Edad desconocida'
)
print("Distribucion de pasajeros por grupo de edad:")
print(df['AgeGroup'].value_counts())

Distribucion de pasajeros por grupo de edad:
AgeGroup
Mayor de edad       601
Edad desconocida    177
Menor de edad       113
Name: count, dtype: int64

Ejercicio 4: Comparación entre promedios calculados manualmente y con Pandas
1.   Utiliza NumPy para calcular el promedio de las columnas 'Age' y 'Fare', ignorando valores nulos.
2.   Compara estos valores con los promedios obtenidos utilizando los métodos nativos de Pandas.
3.   Verifica que los resultados sean consistentes.

In [44]:
# 1. Promedios calculados con NumPy (sin nulos)
promedio_age_np = np.nanmean(df['Age'])
promedio_fare_np = np.nanmean(df['Fare'])
print("Promedios calculados con NumPy:")
print(f"Age:  {promedio_age_np:.2f}")
print(f"Fare: {promedio_fare_np:.2f}")
print("\n" + "-"*50 + "\n")

# 2. Promedios calculados con Pandas
promedio_age_pd = df['Age'].mean()
promedio_fare_pd = df['Fare'].mean()
print("Promedios calculados con Pandas:")
print(f"Age:  {promedio_age_pd:.2f}")
print(f"Fare: {promedio_fare_pd:.2f}")
print("\n" + "-"*50 + "\n")

# 3. Comparacion de resultados
print("Comparacion de resultados:")
print(
    f"Age consistente:  {np.isclose(promedio_age_np, promedio_age_pd)}"
)
print(
    f"Fare consistente: {np.isclose(promedio_fare_np, promedio_fare_pd)}"
)

Promedios calculados con NumPy:
Age:  29.70
Fare: 32.20

--------------------------------------------------

Promedios calculados con Pandas:
Age:  29.70
Fare: 32.20

--------------------------------------------------

Comparacion de resultados:
Age consistente:  True
Fare consistente: True

Ejercicio 5: Creación de intervalos de clase usando NumPy y análisis con Pandas
1.   Divide la columna 'Fare' en 5 intervalos equidistantes utilizando la función numpy.linspace, el estudiante deberá investigar la operación de esta función en python.
2.   Crea una nueva columna en el DataFrame que asigne a cada pasajero el intervalo correspondiente de su tarifa.
3.   Calcula el número de pasajeros en cada intervalo utilizando Pandas y la proporción de supervivientes por intervalo.

In [45]:
# 1. Intervalos de Fare
min_fare = df['Fare'].min()
max_fare = df['Fare'].max()
intervalos_fare = np.linspace(min_fare, max_fare, 6)
print("Intervalos de Fare:")
print(intervalos_fare)
print("\n" + "-"*50 + "\n")

# 2. Nueva columna en el DataFrame
df['FareInterval'] = pd.cut(
    df['Fare'],
    bins=intervalos_fare,
    include_lowest=True
)

# 3. Numero de pasajeros y proporcion
conteo_intervalos = df['FareInterval'].value_counts().sort_index()
print("Numero de pasajeros por intervalo de Fare:")
print(conteo_intervalos)
print("\n" + "-"*50 + "\n")

supervivencia_por_intervalo = df.groupby('FareInterval')['Survived'].mean()
print("Proporcion de supervivencia por intervalo de Fare:")
print(supervivencia_por_intervalo)

Intervalos de Fare:
[  0.      102.46584 204.93168 307.39752 409.86336 512.3292 ]

--------------------------------------------------

Numero de pasajeros por intervalo de Fare:
FareInterval
(-0.001, 102.466]     838
(102.466, 204.932]     33
(204.932, 307.398]     17
(307.398, 409.863]      0
(409.863, 512.329]      3
Name: count, dtype: int64

--------------------------------------------------

Proporcion de supervivencia por intervalo de Fare:
FareInterval
(-0.001, 102.466]     0.361575
(102.466, 204.932]    0.757576
(204.932, 307.398]    0.647059
(307.398, 409.863]         NaN
(409.863, 512.329]    1.000000
Name: Survived, dtype: float64

/tmp/ipython-input-1021047421.py:22: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  supervivencia_por_intervalo = df.groupby('FareInterval')['Survived'].mean()